@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf) format("truetype");
}

p {
  font-family: "Open Sans";
  color: white;
}

html {
  height: 100%;
}

body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  #dash-wrapper {
    width: 100%;
    height: 100%;
    background-color: #1d1f26;
    position: relative;
    top: 0%;
    left: 0%;

    #top-bar {
      width: 100%;
      height: 10%;
      top: 2%;
      left: 0%;
      position: relative;
      display: flex;
      align-items: center;

      #left-arrow,
      #right-arrow {
        width: 7%;
      }

      #left-arrow {
        height: 100%;
        text-align: center;

        #left-icon {
          position: absolute;
          top: 50%;
          bottom: 50%;
          height: 75%;
          transform: translate(-50%, -50%);
        }
      }

      #right-arrow {
        height: 100%;
        text-align: center;

        #right-icon {
          position: absolute;
          top: 50%;
          bottom: 50%;
          height: 70%;
          transform: translate(-50%, -50%);
        }
      }

      #status-bar {
        width: auto;
        flex-grow: 1;
        height: 100%;
        text-align: center;

        #status {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          margin: 0;
          font-size: 2em;
        }
      }
    }

    #speedometer-wrapper {
      position: relative;
      top: -10%;
      left: 0%;
      width: 45%;
      height: 100%;

      #speedometer {
        z-index: 1;
      }

      #cruise-wrapper {
        display: flex;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 10%;
        top: 60%;
        z-index: 2;
        align-items: center;

        #cruise-icon-wrapper {
          height: 100%;
          width: 50%;
          text-align: right;

          #cruise-icon {
            position: relative;
            top: 50%;
            bottom: 50%;
            right: 0%;
            height: 70%;
            padding-right: 0.25em;
            transform: translateY(-50%);
          }
        }

        #cruise {
          text-align: left;

          #cruise-value {
            padding-left: 0.25em;
            font-size: 2.5em;
          }
        }
      }
    }

    #soc-wrapper {
      width: 30%;
      height: 40%;
      position: absolute;
      left: 27%;
      top: 55%;
      overflow: visible;
      float: right;

      #soc-icon {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;

        #battery-icon {
          position: absolute;
          top: 65%;
          left: 10%;
          width: 35%;
          height: 35%;
        }
      }

      #soc {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 3;
      }
    }

    #graph-wrapper {
      position: absolute;
      right: 5%;
      top: 0%;
      width: 50%;
      height: 50%;

      #graph {
        position: relative;
        height: 100%;
        width: 100%;
      }
    }

    #state-wrapper {
      position: absolute;
      bottom: 0%;
      left: 0%;
      height: 15%;
      width: 7%;
      text-align: center;

      #state {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        font-size: 4em;
      }
    }
  }
}
