#battery-status-table {
  background: #22252a;
  padding: 10px 15px;
  #box-1, #box-2 {
    display: inline-block;
  }
  #box-1 {
    margin-right: 10px;
  }
  #box-2 {
    margin-left: 10px;
  }

  p {
    padding: 0;
  }
  .module-cell-row {
    display: block;
  }
  .module-cell {
    transition: all .5s;
    &.status-ok {
      background: #00a225;
    }
    &.status-not-ok {
      background: #a21321;
    }
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
    position: relative;
    .module-cell-tooltip {
      position: absolute;
      z-index: 1;
      left: 100%;
      top: 100%;
      transform:translate(99999px);
      background: #222;
      transition: opacity .3s;
      opacity: 0;
      p {
        margin-bottom: 0;
      }
    }
    &:hover {
      .module-cell-tooltip {
        transform:translate(0);
        opacity: 1;
      }
    }
  }
}


#battery-status-chart {
  font: 10px sans-serif;
  .y.axisRight text {
      fill: orange;
  }
  .y.axisLeft text {
      fill: steelblue;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .bar1 {
    fill: steelblue;
  }
  .bar2 {
    fill: orange;
  }
  .x.axis path {
    display: none;
  }
}
